*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif, Arial, Helvetica;
  line-height: 1.7;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to bottom, #01dc1d, #03bf14, #03a30c, #028704, #006d00); */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b618), color-stop(#00880b), color-stop(#005504), color-stop(#091609), to(#1f1f1f));
  background-image: linear-gradient(to bottom, #00b618, #00880b, #005504, #091609, #1f1f1f);
}

.container {
  margin: 5rem 8rem;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
}

html {
  font-size: 62.5%;
}

.heading-primary {
  font-size: 5rem;
  color: #F7F9F9;
  letter-spacing: 2px;
  line-height: 5rem;
  position: relative;
  -webkit-animation-name: headerP;
          animation-name: headerP;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.heading-secondary {
  font-size: 2.5rem;
  color: #eee;
  text-transform: uppercase;
  margin-right: 1rem;
  letter-spacing: 1px;
  display: inline-block;
}

.heading-course-title {
  color: white;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  opacity: 0;
  top: 1rem;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.heading-courses {
  font-size: 3rem;
  color: #8d8d8d;
  width: 70rem;
  text-align: center;
  display: block;
  padding-bottom: 10rem;
  margin: 0 auto;
}

.heading-quote {
  font-size: 3rem;
  background: -webkit-linear-gradient(#eee, #5e5e5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes loginPanel {
  0% {
    top: -1000px;
  }
  60% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}

@keyframes loginPanel {
  0% {
    top: -1000px;
  }
  60% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes headerP {
  0% {
    left: -100rem;
    opacity: 0;
  }
  100% {
    left: 0rem;
    opacity: 1;
  }
}

@keyframes headerP {
  0% {
    left: -100rem;
    opacity: 0;
  }
  100% {
    left: 0rem;
    opacity: 1;
  }
}

.header {
  width: 100%;
  padding-bottom: 5rem;
  background: linear-gradient(114deg, rgba(8, 168, 0, 0.5) 13%, rgba(59, 117, 56, 0.3) 100%), url(../img/1__gg1Te-7SJfk9E2D-mORfw.png);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 71% 85%, 0 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 71% 85%, 0 100%, 0 100%, 0 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 70rem;
          flex: 0 2 70rem;
  padding: 5rem 5rem 15rem 15rem;
}

.header__paragraph {
  margin-top: 1rem;
  font-size: 2rem;
  color: whitesmoke;
  position: relative;
  -webkit-animation-name: headerP;
          animation-name: headerP;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__login {
  padding: 5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50rem;
          flex: 0 0 50rem;
  /* background: rgb(22, 22, 22); */
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(109.6deg, #161616 77.7%, #eeeeee 77.7%);
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 4px solid #03bf14;
}

.navigation__logo {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo img {
  margin: 2rem;
  width: 60px;
}

.navigation__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navigation__items {
  color: #d6d6d6;
  font-weight: 400;
  display: inline-block;
  margin-right: 2rem;
  list-style-type: none;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__items:hover {
  border-bottom: 3px solid #03bf14;
  padding-bottom: 0;
}

.navigation__socialmedia {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__socialmedia:last-child {
  margin-right: 2rem;
}

.navigation__socialmedia .icons__socialmedia {
  width: 5rem;
  margin-right: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__socialmedia .icons__socialmedia:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 40rem;
  position: relative;
}

.footer__topstyle {
  width: 100%;
  height: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#36da08), to(#0b2900));
  background: linear-gradient(to right, #36da08, #0b2900);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__info {
  width: 25rem;
  margin-top: 5rem;
}

.footer__info .icon {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  display: block;
  fill: #ececec;
}

.footer__info .information {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: #ececec;
}

.footer__bottomstyle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#ececec), to(#252525));
  background: linear-gradient(to right, #ececec, #252525);
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: white;
  background: linear-gradient(120deg, #01dc1d 0%, #03a30c 145%);
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.login-panel {
  background-image: linear-gradient(136deg, #161616 25%, #eeeeee 10%);
  width: 80%;
  /* border-bottom: 4px solid rgb(3, 191, 20); */
  margin: 0 auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.7rem;
  position: relative;
  -webkit-animation-name: loginPanel;
          animation-name: loginPanel;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.login-panel__heading {
  width: 100%;
  display: block;
  margin-bottom: 3rem;
}

.login-panel__heading img {
  width: 25%;
  -webkit-filter: brightness(137%) saturate(0%) contrast(10);
          filter: brightness(137%) saturate(0%) contrast(10);
}

.login-panel__heading h2 {
  width: 40%;
  float: right;
  color: #161616;
  font-size: 2.8rem;
}

.login-panel__form {
  width: 100%;
}

.login-panel__form-group {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-panel__input {
  padding: 1rem;
  border: none;
  border-radius: 2px;
  margin-bottom: 3rem;
  border-bottom: 3px solid transparent;
}

.login-panel__input:focus {
  outline: none;
  border-bottom: 3px solid #03bf14;
  -webkit-box-shadow: 0 1rem 2rem rgba(31, 31, 31, 0.205);
          box-shadow: 0 1rem 2rem rgba(31, 31, 31, 0.205);
}

.login-panel__paragraph {
  font-size: 1rem;
  font-family: sans-serif;
  color: #909497;
  padding: 1rem;
}

.login-panel__paragraph a {
  text-decoration: none;
  color: #2980B9;
}

.login-panel__paragraph a:hover {
  text-decoration: underline;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.panel {
  height: 40rem;
  width: 30rem;
  margin-bottom: 5rem;
  background-color: #fafafa;
  border-bottom: .7rem solid green;
  -webkit-box-shadow: 0px 0px 10px #9e9e9e;
          box-shadow: 0px 0px 10px #9e9e9e;
  position: relative;
  overflow: hidden;
}

.panel:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0px 0px 15px #9e9e9e;
          box-shadow: 0px 0px 15px #9e9e9e;
}

.panel:hover .heading-course-title {
  opacity: 1;
  top: -4rem;
}

.panel:hover .panel__image {
  -webkit-filter: blur(1.3px) saturate(1) opacity(0.9) contrast(108%);
          filter: blur(1.3px) saturate(1) opacity(0.9) contrast(108%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.panel:hover .panel__image--icon {
  top: 1rem;
  opacity: 1;
}

.panel__image {
  width: 100%;
  height: 45%;
  padding: 1rem;
  background-size: cover;
  background-position: bottom;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.panel__image--1 {
  background-image: url(../img/science.png);
}

.panel__image--2 {
  background-image: url(../img/Computer-Science-HD-Image.png);
}

.panel__image--3 {
  background-image: url(../img/DataScience.jpg);
}

.panel__image--4 {
  background-image: url(../img/WebDesign.jpg);
}

.panel__image--5 {
  background-image: url(../img/Photoshop.jpg);
}

.panel__image--6 {
  background-image: url(../img/InternetOfThings.jpg);
}

.panel__image--icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -1.5rem;
  right: 1rem;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  fill: #03bf14;
  cursor: pointer;
}

.panel__image--icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.panel__info {
  padding: 2rem;
  font-size: 1.3rem;
  position: relative;
}

.panel__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel__icons--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  height: 2rem;
  width: 50%;
}

.panel__icons--rating .icon-star {
  fill: orange;
}

.panel__icons--feedback {
  height: 2rem;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.panel__icons--feedback .icon-clock {
  width: 2rem;
}

.panel__icons--feedback .hours {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.box {
  background-color: antiquewhite;
  width: 45rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box__logo {
  width: 30%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.box__logo--1 {
  background-image: url(../../img/CSharp.png);
}

.section-about {
  padding-top: 15rem;
  background: #f7f7f7;
  margin-top: -10rem;
}

.intro {
  padding-bottom: 20rem;
  margin-bottom: -15rem;
}

.intro__search {
  border: none;
  padding: 1.5rem;
  font-size: 1.7rem;
  width: 60%;
  display: block;
  margin: auto;
  outline: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.intro__search:focus {
  width: 65%;
  border-bottom: 2px solid green;
}

.intro__heading {
  font-size: 3.5rem;
  color: #979797;
  width: 80%;
  line-height: 5rem;
  letter-spacing: .1rem;
  text-align: center;
  margin: 2rem auto;
}

.intro__heading--2 {
  text-transform: uppercase;
  color: #979797;
  display: block;
  text-align: center;
  font-size: 2rem;
  width: 60rem;
  margin: 5rem auto 2rem auto;
}

.intro__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.intro__brands-img {
  width: 80%;
}

.section-info {
  height: 50rem;
  overflow: hidden;
  /* background-image: linear-gradient(to left, #01dc1d, #03bf14, #03a30c, #028704, #006d00); */
  background-color: #161616;
  -webkit-clip-path: polygon(0 24%, 53% 8%, 100% 8%, 100% 100%, 0 100%);
          clip-path: polygon(0 24%, 53% 8%, 100% 8%, 100% 100%, 0 100%);
  padding: 15rem 0 45rem 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__computer {
  /* width: 70%; */
  -webkit-box-flex: 1;
      -ms-flex: 1 3 50rem;
          flex: 1 3 50rem;
  margin-left: -30rem;
}

.content__computer-image {
  /* width: 100%; */
}

.content__heading {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75rem;
          flex: 1 1 75rem;
  padding: 1rem 5rem 5rem 5rem;
}

.content__heading h2 {
  background: -webkit-linear-gradient(#eee, #5e5e5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  line-height: 4.5rem;
}

.content__heading p {
  font-size: 1.7rem;
  color: #8d8d8d;
}

.section-courses {
  background-color: #f7f7f7;
  -webkit-clip-path: polygon(53% 0%, 100% 0, 100% 100%, 0 100%, 0 8%);
          clip-path: polygon(53% 0%, 100% 0, 100% 100%, 0 100%, 0 8%);
  margin-top: -15rem;
  padding: 13rem 5rem 8rem 5rem;
}

.section-info-language {
  height: 25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #161616;
}

.content-info {
  width: 55rem;
  height: 100%;
  background-image: linear-gradient(105deg, transparent 45%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%), url(../img/PeoplePrograming.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.content-logo {
  width: 15rem;
  height: 15rem;
  background-image: url(../img/UIHere.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 5rem;
  top: 5rem;
}

.content-quote {
  width: 60rem;
  padding: 5rem;
}

.section-languages {
  width: 100%;
  height: 100rem;
  padding: 8rem 5rem 5rem 5rem;
  background-color: #f7f7f7;
}

.languages-logo {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: -8rem;
  padding-bottom: 5rem;
}

.temporary-div {
  padding-top: 10rem;
}
/*# sourceMappingURL=style.css.map */