.header{
    width: 100%;
    padding-bottom: 5rem;
    background: linear-gradient(114deg,
    rgba(8, 168, 0, 0.5) 13%, 
    rgba(59, 117, 56, 0.3) 100%), url(../img/1__gg1Te-7SJfk9E2D-mORfw.png);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 85%, 71% 85%, 0 100%, 0 100%, 0 0);

    display: flex;
    justify-content: space-between;
    
    &__title{
        flex: 0 2 70rem;
        
        padding: 5rem 5rem 15rem 15rem;

        
    }

    &__paragraph{
        margin-top: 1rem;
        font-size: 2rem;
        color: rgb(245, 245, 245);
        position: relative;
        animation-name: headerP;
	    animation-duration: 2s;
	    animation-delay: 400ms;
	    animation-fill-mode: forwards;

    }

    &__login{
        padding: 5rem;
        flex: 0 0 50rem;
        /* background: rgb(22, 22, 22); */
    }
}