@keyframes loginPanel {
    0% {top: -1000px;}
    60% {top: 50px;}
	100% {top: 0px;}
}

@keyframes headerP{
    0% {left: -100rem;
        opacity: 0;}    
    100% {left: 0rem;
        opacity: 1;
    }

}


