.courses{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.panel{
    height: 40rem;
    width: 30rem;
    margin-bottom: 5rem;
    background-color: rgb(250, 250, 250);
    border-bottom: .7rem solid green;
    box-shadow: 0px 0px 10px rgba(158,158,158,1);
    position: relative;
    overflow: hidden;

    &:hover{
        transition: all .3s;
        box-shadow: 0px 0px 15px rgba(158,158,158,1);

        .heading-course-title{
            opacity: 1;
            transition: all .3s;
            position: absolute;
            top: -4rem;
        }

        .panel__image{
            filter: blur(1.3px) saturate(1) opacity(0.90) contrast(108%);
            transform: scale(1.1);
            transition: all .3s ease-in-out;
        }

        .panel__image--icon{
            top: 1rem;
            opacity: 1;
            transition: all .3s;
        }
    }
    

    &__image{
        width: 100%;
        height: 45%;
        padding: 1rem;
        
        background-image: url(../img/science.png);
        background-size: cover;
        background-position: bottom;
        position: relative;

        &--2{
            background-image: url(../img/Computer-Science-HD-Image.png);
        }
        
        &--icon{
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: -1.5rem;
            right: 1rem;
            opacity: 0;
            fill: rgb(3, 191, 20);
            cursor: pointer;

            &:hover{
                
                transform: scale(1.2);
                transition: all .3s;
            }
           
        }

    }

    &__info{
        padding: 1.5rem;
        font-size: 1.3rem;
        position: relative;
    }

    &__icons{
        display: flex;

        &--rating{
            display: flex;
            padding-left: 5px;
            height: 2rem;
            width: 50%;
            .icon-star{
                fill: orange;
            }
            
        }


        &--feedback{
            height: 2rem;
            width: 45%;
            display: flex;
            justify-content: flex-end;

            .icon-clock{
                width: 2rem;
            }
            .hours{
                display: inline-block;
                font-size: 1.2rem;
                margin-left: 1rem;
                align-content: center;
            }
            
        }


    }
   

}

