// SECTION ABOUT
.section-about{
    padding-top: 15rem;
    background: #f7f7f7;
    margin-top: -10rem;
}

.intro{
    padding-bottom: 20rem;
    margin-bottom: -15rem;
    &__search{
        border: none;
        padding: 1.5rem;
        font-size: 1.7rem;
        width: 60%;
        display: block;
        margin: auto;
        outline: none;
        border-bottom: 2px solid transparent;
        transition: width .2s;

        &:focus{
            width: 65%;
            border-bottom: 2px solid green;
        }
    }

    &__heading{
        font-size: 3.5rem;
        color: rgb(151, 151, 151);
        width: 80%;
        line-height: 5rem;
        letter-spacing: .1rem;
        text-align: center;
        margin: 2rem auto;

        &--2{
            text-transform: uppercase;
            color: rgb(151, 151, 151);
            display: block;
            text-align: center;
            font-size: 2rem;
            width: 60rem;
            margin: 5rem auto 2rem auto;
        }
    }

    &__brands{
        display: flex;
        justify-content: center;
        width: 100%;

        &-img{
           width: 80%;
        }
    }
}

/////////////////////////////////////////////
// SECTION INFO
.section-info{
    height: 50rem;
    overflow: hidden;
    /* background-image: linear-gradient(to left, #01dc1d, #03bf14, #03a30c, #028704, #006d00); */
    background-color: rgb(22, 22, 22);
    clip-path: polygon(0 24%, 53% 8%, 100% 8%, 100% 100%, 0 100%);
    padding: 15rem 0 45rem 0;
    

}

.content{
    display: flex;


    &__computer{
        /* width: 70%; */
        flex: 1 3 50rem;
        margin-left: -30rem;
        
    }

    &__computer-image{
        
        /* width: 100%; */
    }

    &__heading{
        
        flex: 1 1 75rem;
        padding: 1rem 5rem 5rem 5rem;
        & h2{
            background: -webkit-linear-gradient(#eee, #5e5e5e);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 4rem;
            line-height: 4.5rem;
        }

        & p{
            font-size: 1.7rem;
            color:rgb(141, 141, 141);
        }
    }
}
///////////////////////////////////////////////////////////////////////////////////
//// SECTION COURSES
.section-courses{
    background-color: #f7f7f7;
    clip-path: polygon(53% 0%, 100% 0, 100% 100%, 0 100%, 0 8%);
    margin-top: -15rem;
    padding: 13rem 5rem 8rem 5rem;
    
}

/////////////////////////////////////////////////////////////////////////////////////////
//// SECTION INFO LANGUAGES
.section-info-language{
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    background-color: #161616;
}

 .content-info{
    width: 55rem;
    height: 100%;
    background-image: linear-gradient(105deg, transparent 45%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%), url(../img/PeoplePrograming.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    
} 

.content-logo{
    width: 15rem;
    height: 15rem;
    background-image: url(../img/UIHere.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 5rem;
    top: 5rem;
}

.content-quote{
    width: 60rem;
    padding: 5rem;
}

/////////////////////////////////////////////////////////////////////////////////////
////SECTION LANGUAGES

.section-languages{
    width: 100%;
    height: 100rem;
    padding: 8rem 5rem 5rem 5rem;
    background-color: #f7f7f7;
}

.languages-logo{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: -8rem;
    padding-bottom: 5rem;
    
}

///////////////////////////////////////////
///TEMPORARY SECTION
.temporary-div{
    padding-top: 10rem;
}